body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}
                                                    /* header */
.main{
    background-color: #FFFBF0;
}
.intro h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
}

.intro p{
    color: #3E3E3E;
    font-size: 15px;
}
.salmon-color{
    color:#FABE4C;
}
.penguin-navbar{
    background-color:#FFFBF0 ;
}
.navy-blue{
    color:#363958;
}
.penguin-logo-title{
    font-family: 'Montserrat', sans-serif;
}
.penguin-icon{
    width: 65px;
}
.logo-txt-1{
    color:#A4BC46;
}
.logo-txt-2{
    color:#363958;
}
.penguin-button{
    
    background-color: #A4BC46;
    font-size: 12px;
    color:white;
    border: none;
    border-radius: 8px;
    font-weight: 700;    
}

.penguin-nav-link a{
    color: #3C3C3C !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 15px;
}
                                                       /* women jacket */
.card-img-top{    
    width: 100%;
    height:300px;
    object-fit: contain;
}      
.woman-jacket h2, .man-jacket h2{
    color:#363958;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}                                                  
.card-element,.card-image-container {
    border-radius: 15px;
}

.card-image-container{
    margin-top: 17px;
    width: 90%;
    background-color: #F1F1F1;
}
.card-body{
    background-color: white;
}
.card-body h5{
    font-weight: 700;
    color:#363958;
}
.card-body p{
    color: #3E3E3E;
    font-size: 15px;
}
.card-footer h2{
    font-weight: 900;
    color:#FABE4C;
    
}
.card-footer img{
    width: 25px;
}


                                    /* fit-section */
.fit-section{
    margin-top: 7em;
}                                    
.fit-img-container{
    width:100px;
   padding: 18px;
}   
 
.fit-img-container-2{
    margin-top: 5%;
}
.fit-content{
    border-radius: 10px;
}                   
.fit-description{
    width: 65%;
    margin:auto;
}
.fit-description h4{
    font-family: 'Roboto', sans-serif;
    color: #363958;    
    font-weight: 700;    
}
.fit-description p{
    color: #3E3E3E;
    
}


@media (max-width: 576px) { 
    .fit-content{
        display: block;
    }
    .fit-img-container{
        margin: auto;        
    } 
    .fit-description{
        margin: auto;
        text-align: center;
        width: 100%;
    }
    footer{
        text-align: center;
    }
}

@media (max-width: 991px) {
    .fit-section-content{
        display: flex;
        flex-direction: column-reverse;
    }
    footer{
        text-align: center;
    }
    .woman-jacket h2{
        text-align: center;
    }
    .man-jacket h2{
        text-align: center;
    }
}
@media (min-width: 992px) {
    
    .fit-img-container{        
        width: 100px;
    }
}
@media (max-width: 1200px) {
    .fit-img-container{        
        width: 25%;
    }
}
                                    /* footer section */
footer{
    margin-top: 50px;
   
    background-color: #FABE4C;
}                                    

footer a{
    color: black;
    padding: 3px;
}

